#caja{
	width: 400px;
	height: 400px;
	background-color: orange;
}

/*Estilos ṕara tablets*/
@media only screen and (min-width: 768PX) and (max-width: 940px){
	#caja{
		width: 600px;
		
	}
}


/*Estilos ṕara smartphones*/
@media only screen and (min-width: 400PX) and (max-width: 767px){
	#caja{
		width: 400px;
		
	}
}


