#caja1{
	width: 100px;
	height: 100px;
	color:  white;
	background-color: green;
	float: right;
	text-align: center;
	transition:  width 2s, background-color 2s;
	-o-transition: width 2s, background-color 2s;
	-moz-transition: width 2s, background-color 2s;
	-webkit-transition: width 2s, background-color 2s;

}
#caja1:hover{
	width: 400px;
	background-color: orange;
}
